@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
}

html,
body {
		font-family:  arial,\5b8b\4f53,georgia,verdana,helvetica,sans-serif;
	background-color: #f9f9f9;
/* 	font-weight: lighter; */
}

ul,
li,
dl,
dd,
ol {
	list-style-type: none;
}

img{
	outline: none;
}

input,
p {
	margin-bottom: 0;
	padding: 0;
	outline: none;
}

a {
	text-decoration: none;
}

button,
input {
	border: none;
	outline: none;
	background-color: transparent;
	padding: 0px;
	margin: 0;
}

button:after {
	border: none;
}

select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 0;
	background: transparent;
	outline: none;
}

