<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="css/share.css" />
		<link rel="stylesheet" href="css/share.css" />
		<link rel="stylesheet" type="text/css" href="css/headerAndNav.css" />
		<link rel="stylesheet" type="text/css" href="css/footer.css" />
		<link rel="stylesheet" type="text/css" href="css/sec_title.css" />
		<link rel="stylesheet" type="text/css" href="css/page8.css" />
		<!-- <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css"> -->
		<script type="text/javascript" src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<div id="app">
			<div class="header">
				<ul class="headerul">
					<li class="headerli">
						<div class="logo"></div>
						<div class="headerTitle">
							儿羽教育咨询有限公司
						</div>

					</li>
					<li class="headerli">
						<div class="headerdiv">
							<p class="headerText">联系方式 <br /> <span class="headerText2">400-000-0026</span>
							</p>
						</div>
						<div class="headera " @click="flag=!flag"></div>
					</li>
				</ul>
			</div>

			<nav class="home_nav " v-if="flag">
				<a href="home.html">关于儿羽</a>
				<a href="page2.html">加盟我们</a>
				<a href="page3.html">金牌项目</a>
				<a href="page4.html">信息化管理系统</a>
				<a href="page5.html">儿羽商学院</a>
				<a href="page6.html">儿羽动态</a>
				<a href="javascript:;">联系我们</a>
			</nav>
			<!-- 	<div class="fix">
				<div class="s5_logo3 circle" @click="flag2=!flag2">
				</div>
				<p @click="flag2=!flag2">联系客服</p>
			</div>
			<div class="dig" v-if="flag2">
				<p>扫码联系</p>
				<div class="dig_imgbox">
					<img src="image/c_qr.png" width="140">
				</div>
		
			</div> -->
		</div>
		<section >
			<h1 class="sec1_h1">加盟咨询</h1>
			<div class="bg">
				<div class="form">
					<table>
						<tr>
							<td>
								<p>姓名</p>
							</td>
							<td><input class="input" type="text" /></td>
						</tr>
						<tr>
							<td><p>性别</p></td>
							<td id="sex">
								 <label @click="flag=!flag"><img v-if="flag" src="image/page8/h_wxz.png" width="20">
								 <img v-if="!flag" src="image/page8/h_xz.png" width="20" />
								 <span>男</span>
								 
								 </label>
								
								        <label @click="flag=!flag"><img v-if="!flag" src="image/page8/h_wxz.png" width="20">
								 <img v-if="flag" src="image/page8/h_xz.png" width="20" />
								 <span>女</span>
								 </label>
								
							</td>
						</tr>
						<tr>
							<td><p>联系电话</p></td>
							<td><input class="input" type="text" /></td>
						</tr>
						<tr>
							<td><p>加盟地区</p></td>
							<td><input class="input" type="text" /></td>
						</tr>
					</table>
					<button class="p8btn">加入我们</button>
				</div>
			</div>
		</section>
		
		
		<section class="sec5">
			<ul class="sec5_ul">
				<li class="sec5_li2">
					<div class="s5_logo1"></div>
					<p class="s5_p">儿羽婴幼儿水育馆<br />官方微博</p>
					<div class="ac_qr">
						<img src="image/ac_qr.png" width="40">
					</div>
				</li>
				<li class="sec5_li">
					<div class="s5_logo2"></div>
					<p class="s5_p">儿羽商学院<br />官方公众号</p>
					<div class="ac_qr">
						<img src="image/ac_qr.png" width="40">
					</div>
				</li>
				<li class="sec5_li">
					<div class="s5_logo3"></div>
					<p class="s5_p">儿羽little wings<br />官方微信</p>
					<div class="ac_qr">
						<img src="image/ac_qr.png" width="40" @click="showOrHide">
					</div>
				</li>
			</ul>
		<section class="sec6">
			<p><span>细致早教，儿羽相伴</span><br />加入我们，为您提供全方位解决方案</p>
		</section>
		<footer class="ftr">
			<ul>
				<li>官网首页</li>
				<li class="ftr_li">官网首页</li>
				<li class="ftr_li">官网首页</li>
				<li class="ftr_li">官网首页</li>
				<li class="ftr_li">官网首页</li>
			</ul>
			<p>Copyright &#169 www.eryu.com,All Rights Reserved.</p>
		</footer>
		<script type="text/javascript">
			var vm = new Vue({
				el: '#app',
				data: {
					flag: false,
					flag2: false
				},
				methods: {}
			});
			var sex=new Vue({
				el:'#sex',
				data:{
					flag:false
					}
			})
			// var swiper = new Swiper('.swiper-container', {
			// 	pagination: {
			// 		el: '.swiper-pagination',
			// 	},
			// });
		</script>
	</body>
</html>
